@model IEnumerable<FluxEasy.Entities.ProdutoAcabado>

@{
    ViewData["Title"] = "Index";
}

<h1>Producto Acabado</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Embalagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Embalagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
